{% extends 'base.html.twig' %}

{% block title %}WorkUnit index{% endblock %}

{% block body %}
    <h1>WorkUnit index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Start</th>
                <th>End</th>
                <th>Project</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for work_unit in work_units %}
            <tr>
                <td>{{ work_unit.id }}</td>
                <td>{{ work_unit.start ? work_unit.start|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ work_unit.end ? work_unit.end|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ work_unit.project.name }}</td>
                <td>
                    <a href="{{ path('app_work_unit_show', {'id': work_unit.id}) }}">show</a>
                    <a href="{{ path('app_work_unit_edit', {'id': work_unit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <ul>
        <li><a href="{{ path('app_work_unit_new') }}">Create new</a></li>
        <li><a href="{{ path('app_csv_report') }}">Download data as CSV</a></li>
        <li><a href="{{ path('app_home') }}">Back to top</a></li>
    </ul>


{% endblock %}
